* {
    box-sizing: border-box;
}

header {
    display:flex;
    margin: 30px 0px 50px 20px;
    font-size: 2rem;
}

h1 {
    display: block;
    margin: 0px auto 0px 0px;
}

body {
    font-family: Roboto, sans-serif;
}

/* .form-div {
    display: flex;
    flex-direction: column;
} */

form input {
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
}

.header-link {
    align-content: flex-end;
    margin: auto 8px 14px 8px;
}

.header-button {
    /* align-content: flex-end; */
    /* margin: 0px 8px auto 8px; */
    /* margin: auto 8px; */
    /* margin: auto 8px 14px 8px;
    padding: 8px 10px; */
    border-color: blueviolet;
    border-style: solid;
    padding: 8px 10px;
    border-width: 3px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer
}

/* .header-button a {
    color:black;
    text-decoration: none;
    font-weight: bold;
} */

#login-button,#logout-button {
    color:black;
    background-color: transparent;
}

#register-button {
    color: bisque;
    background-color: blueviolet;
}

/* #register-button a {
} */