<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark p-2">
        <div class="container-fluid">
            <a class="navbar-brand h1" href="{{url_for('index')}}">Kanban</a>
            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-2">
                        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>